---
interface Heading {
	depth: number;
	slug: string;
	text: string;
}

interface Props {
	headings?: Heading[];
}

const headings = (Astro.props.headings ?? []).filter(
	(heading) => heading.depth >= 2 && heading.depth <= 3,
);
---

{
	headings.length > 0 && (
		<aside class="toc" aria-label="Table of contents" data-pagefind-ignore>
			<h2>On this page</h2>
			<ul>
				{headings.map((heading) => (
					<li class:list={{ nested: heading.depth === 3 }}>
						<a href={`#${heading.slug}`}>{heading.text}</a>
					</li>
				))}
			</ul>
		</aside>
	)
}
